h1{
    background-color: black;
    color: white;
    border-radius: 0px 200px 200px 0px;
    width: 400px;
}


a{
    color: red;
}
a:hover{
    background-color: black;
    color: white;
}

img{
    border-radius: 51px 51px 51px 51px;
    filter: blur(5px);
}

img:hover{
    filter: blur(0px);
}

h2{
    color: white;
    background-color: gray;
    text-shadow: 4px 7px 5px rgba(0,0,0,0.81);
    border-radius: 0px 200px 200px 0px;
    width:300px;
}

li{
    text-decoration-line: underline;
    
}

